.card-wrapper{
    padding: 20px;
}

.card{
    margin : 0 auto;
    width: 50%;


    .card-header{
        text-align: center;
    }
    .card-body{

    .optionsContainer {
        margin: 10px;
        padding: 10px;
        text-align: left;
        border-radius: 10px;
        
    }

    .correct{
        background-color: #ccffda;
    }

    .incorrect{
        background-color: #ffe5db;
    }
}
        

}